@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
--primary-color: #0b21e0;
--secondary-color: #e66e1d;
--accent1-color: #0D0106;
--accent2-color: #e0732a;

--heading-font: 'jacquard', serif;
--paragraph-font: 'Montserrat', serif;


--nav-background-color: #0D0106;
--nav-link-color: #0D0106;
--nav-hover-link-color: #0D0106;
--nav-hover-background-color: #0D0106;

}

body {
    width: 100%;
    box-sizing: border-box;

}


header img { 
width: 200px;

}
h1 { color: var(--secondary-color);
    font-family: 'jacquard', arial, sans-serif; 

}
    
h2 {
    color: var(--accent2-color);
    font-family: 'jacquard', arial, sans-serif;
}

p {
    font-family: "Montserrat", arial, sans-serif;
    color: var(--accent1-color);
   }
   .sociallinks a {
       text-decoration: none;
   }
   
   .hero {
       position: relative;
      
   }
   .hero h1 {
       position: absolute;
       text-align: center;
       background-color: rgba(8, 8, 21, 0.3);
       width: 100%;
       top: 0;
   }
   .hero article {
       position: absolute;
       top: 150px;
   }
   
   .hero img {
       display: block;
       width: 100%;
       height: auto;
   }
   .hero article img {
       width: 150px;
       float: right;
   }
   article {
       background-color: #894b22;
       width: 80%;
       margin-left: 10%;
   }
   article p{
    color: #ffffff;
   }

   header {
    display: grid;
    grid-template-columns: 120px 1fr 1fr 1fr;
    align-items: center;
    border: 1px solid #ccc;
    max-width: 1000px;
    }

    .logo img {
        margin: 0 0.25rem 0 1rem;
        height: auto;
    }

    h1 {
        font-size: 2rem;
        font-family: 'jacquard', arial, sans-serif;
    }

    nav {
        display: flex;
        justify-content: space-evenly;
    }

    /*.navigation {
        display: flex;
        list-style: none;
    }

    .navigation li { 
        display: block;
        color: navy;
        padding: 20px;
        text-decoration: none;
    }