@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
--primary-color: #1ca9e0;
--secondary-color: #e66e1d;
--accent1-color: #0D0106;
--accent2-color: #e0732a;

--heading-font: 'jacquard', serif;
--paragraph-font: 'Montserrat', serif;


--nav-background-color: #0D0106;
--nav-link-color: #0D0106;
--nav-hover-link-color: #0D0106;
--nav-hover-background-color: #0D0106;

}

body {
    width: 100%;
    box-sizing: border-box;

}


header img { 
width: 200px;

}
h1 { color: var(--secondary-color);
    font-family: 'jacquard', arial, sans-serif; 

}
    
h2 {
    color: rgb(24, 24, 226);
    font-family: 'jacquard', arial, sans-serif;
}

p {
    font-family: "Montserrat", arial, sans-serif;
    color: var(--accent1-color);
   }
   .sociallinks a {
       text-decoration: none;
   }
   
   .hero {
       position: relative;
      
   }
   .hero h1 {
       position: absolute;
       text-align: center;
       background-color: rgba(8, 8, 21, 0.3);
       width: 100%;
       top: 0;
   }
   .hero article {
       position: absolute;
       top: 150px;
   }
   
   .hero img {
       display: block;
       width: 100%;
       height: auto;
   }
   .hero article img {
       width: 150px;
       float: right;
   }
   article {
       /* background-color: #894b22; */
       width: 85%;
       margin-left: 10%;
   }
   article p{
    color: #ffffff;
   }

   header {
    display: grid;
    height: 150px;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    border: 1px solid #ccc;
    padding-left: 100px;
    max-width: 1000px;
    }

    header img {
        margin: 0 0.25rem 0 1rem;
        height: auto;
        width: 120px;
        
    
    }


    h1 {
        font-size: 2rem;
        font-family: 'jacquard', arial, sans-serif;
        text-align: center;
    }
    
    
    header nav ul {
        display: flex;
        /* justify-content: space-evenly; */
        justify-content: center;
    }

    header nav ul li { 
        list-style-type: none;
        border: 3px solid black;
        width: 100px;
        height: 50px;
        line-height: 30px;
        padding-top: 10px;
        box-sizing: border-box;
        border-right: 0;

        
    }

    .border-right {
        border-right: 3px solid black;


    }

    header nav ul li a {
        display: block;
        text-align: center;
   
    }

    

    .history {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        /* border: 1px solid rgba(0, 0, 0,  0.5); */
        box-shadow: 0 0 40px #894b22;
        width: 96%;
        margin: 2%;
        /* gap: 50px; */
    }
    
    .history h2 {
        grid-area: 1/1/2/7;
        justify-self: center;
        align-self: center;
    }
    
    .history .history-parag-1 {
        grid-area: 2/1/3/3;
        margin-left: 25px;
    }

    .history img {
        grid-area: 2/3/3/5;
        justify-self: center;
        width: 350px;
    }

    .history .history-parag-2 {
        grid-area: 2/5/3/7;
        margin-right: 25px;
    } 

    .adventure {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust column width as needed */
        grid-gap: 50px; /* Adjust gap between images as needed */
        /* border: 1px solid rgba(0, 0, 0,  0.5); */
        box-shadow: 0 0 40px #894b22;
        width: 96%;
        margin: 2%;
        justify-content: space-around;
    }
    
    .adventure h2 {
        grid-column: 1 / -1; /* Span across all columns */
        justify-self: center;
        padding-bottom: 0;
        margin: 0;
    }
    
    .adventure figure {
        margin: 0; 
        justify-self: center;
    
    }

    .adventure img {
        justify-self: center;
        width: 100%;
        height: auto; /* Adhere proper ratio */
    }
    
    .adventure figcaption {
       text-align: center
    }
    
    footer {
       display: grid;
       grid-template-columns: repeat(6, 1fr);
       /* border: 1px solid rgb(0, 0, 0, 0.7); */
       padding: 20px 0;
       box-sizing: border-box;
       box-shadow: 0 0 30px skyblue;
       background-color: var(--accent2-color);
    }
    
    footer p {
       grid-area: 1/3/1/5;
       justify-self: center;
       align-self: center;
    }
    
    footer nav {
        grid-area: 1/5/1/7;
        justify-self: right;
        align-self: center;
        background-color: rgba(255,255,255, 0.01);
    }
    
    article {
        display: flex;
        justify-content: space-evenly;    
    }

    article img {
        max-width: 250px;
        border-radius: 5px;
        
    }

    p {
        text-align: center;
    }

    label {
        display: block;

    }

    fieldset {
        margin-bottom: 20px;
    }

    
/* Here start css for Trip Page */

.contact-us {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    height: 50px;
    width: 10%;
    background-color: ;
    margin-left: 45%;
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 25px;
    padding: 12.5px;
    border-radius: 10px;
}

.trips-pics {
    grid-area: 1/1/1/8;
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.trips-pics figure {
    background-color: #ddd;
    padding: 20px;
    border-radius: 5px;
}

.trips-pics figure  a{
    display: block;
    text-align: center;
    font-size:22px;
    height: 40px;
    margin-top: 10px;
    background-color: blue;
    width: 50%;
    margin-left: 25%;
    line-height: 22px;
    padding-top: 9px;
    border-radius: 5px;
    color: black;
    text-decoration: none;

}

.trip-description {
    grid-area: 1/8/1/10;
    width: 100%;
    padding: 5px;
    background-color: #ddd;

    

}

.table-layout{
    display: grid;
    grid-template-columns: 7fr 1fr;
    width: 90%;
    margin-left: 10%;
}

table {
    grid-area: 1/1/1/8;
    width: 95%;
    border-collapse: collapse;
    margin-top: 30px;
    margin-bottom: 30px;
}

tbody th, tbody td {
    
    height: 50px;
    text-align: center;
}
tbody tr:nth-of-type(even){
    background-color: #ddd;
}
thead tr{
    background-color: #000;
    color: white;
}

thead th{
    border-bottom: 1px solid black;
    height: 50px;
    font: 30px;
}

caption {
    caption-side: bottom;
    font-size: 30px;
}

figure {
    display: flex;
    justify-content: space-evenly;    
}

figure img {
    max-width: 250px;
    border-radius: 5px;

    /* styling the home page  */

  .action .booking {
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .action .booking img {
    margin-top: 50px;
    max-width: 300px;
    border-radius: 5px;
  }

  .action .booking figcaption {
    text-align: center;
  }

  .action .booking .price {
    text-align: center;
    
  }

  .explore {
    text-align: center;
    margin-top: 50px;
  }

  .signup fieldset {
    margin-top: 50px;
    margin-left: 40%;
    max-width: 200px;
    justify-self: auto;
    
  }

  .booking figcaption {
    width: 200px;
    text-align: center;
  }

  .bottom-image {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: antiquewhite;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .bottom-image .text-field {
    width: 30%;
    height: 200px;
    position: absolute;
    top: 100px;
    left: 400px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
  }

  .bottom-image .text-field h2{
    text-align: center;
}

.bottom-image img {
    position: absolute;
    margin-left: 30px;
    top: 12px;
}

.bottom-image .text-field a {
    background-color: antiquewhite;
    text-align: center;
    display: block;
    height: 30px;
    width: 70px;
    font-size: 20px;
    margin-left: 35%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.bottom-image .text-field p{
    text-align: center;
}
    



   
   


    